[submodule "rtags"]
	path = rtags
	url = git@github.com:Andersbakken/rtags.git
[submodule "undo-tree"]
	path = undo-tree
	url = git@github.com:emacsmirror/undo-tree.git
[submodule "flycheck"]
	path = flycheck
	url = git@github.com:flycheck/flycheck.git
[submodule "git-modes"]
	path = git-modes
	url = git@github.com:magit/git-modes.git
[submodule "haskell-mode"]
	path = haskell-mode
	url = git@github.com:haskell/haskell-mode.git
[submodule "magit"]
	path = magit
	url = git@github.com:magit/magit.git
[submodule "dash"]
	path = dash
	url = git@github.com:magnars/dash.el.git
[submodule "git-gutter-plus"]
	path = git-gutter-plus
	url = git@github.com:nonsequitur/git-gutter-plus.git
[submodule "column-enforce-mode"]
	path = column-enforce-mode
	url = git@github.com:jordonbiondo/column-enforce-mode.git
[submodule "smooth-scrolling"]
	path = smooth-scrolling
	url = git@github.com:aspiers/smooth-scrolling.git
[submodule "hindent"]
	path = hindent
	url = git@github.com:chrisdone/hindent.git
