[submodule "rtags"]
	path = rtags
	url = git@github.com:Peaker/rtags.git
[submodule "undo-tree"]
	path = undo-tree
	url = git@github.com:emacsmirror/undo-tree.git
[submodule "flycheck"]
	path = flycheck
	url = git@github.com:flycheck/flycheck.git
[submodule "git-modes"]
	path = git-modes
	url = git@github.com:magit/git-modes.git
[submodule "haskell-mode"]
	path = haskell-mode
	url = git@github.com:haskell/haskell-mode.git
[submodule "magit"]
	path = magit
	url = git@github.com:magit/magit.git
[submodule "dash"]
	path = dash
	url = git@github.com:magnars/dash.el.git
[submodule "Fill-Column-Indicator"]
	path = Fill-Column-Indicator
	url = git@github.com:Peaker/Fill-Column-Indicator.git
[submodule "git-gutter-plus"]
	path = git-gutter-plus
	url = git@github.com:nonsequitur/git-gutter-plus.git
